* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: rgb(67, 118, 108);
  color: rgb(31, 23, 23);
}
.mainContainer {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.mainContainer {
  margin: 0 auto;
}
section {
  width: 90%;
  margin: 0 auto;
}
form {
  margin-top: 5px;
}
input {
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10.5px;
  background-color: rgba(255, 255, 255, 0.5);
}
#submit {
  width: 99.5%;
  cursor: pointer;
  margin-top: 35px;
}
#submit:hover {
  background-color: rgb(254, 0, 0);
}
.disableBtn {
   cursor: not-allowed;
}
.disableBtn:hover{
  background-color: grey;
}
.result {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}
#results {
  margin-top: 15px;
}
#results p {
  // width: 40%;
  box-shadow: 1px 1px 3px;
  padding: 5px;
  margin: 20px 0px;
  font-size: 18px;
}
small{
  display: none;
  color: red;
  margin-left: 26px;
}
strong span{
  display: none;
  color: red;
  font-size: 14px;
}