footer{
    box-shadow: 1px 1px 3px;
    background-color: rgba(255, 255, 255, .3);
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    isolation: isolate;
    opacity: .8;
}
footer p{
margin-left: 20px;
font-size: 18px;
margin-top: 5px;
}
.copyright{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 800;
}